<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if current_user %>
    <h1><%= current_user.username %></h1>
    <form class="" action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" name="name" value="Log Out">
    </form>
    <% else %>
    <form class="" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Username
      <input type="text" name="user[username]" value="">
    </label>
    <label>Password
      <input type="text" name="user[password]" value="">
    </label>
    <input type="submit" name="name" value="Log In">
    <% end %>
    <%= yield %>
  </header>
</html>
